@import "../../stylesheets/shared.scss";

.logos {
	position: relative;
	margin: 2rem 1rem;
	&.tech {
		width: 368px;
		height: 251px;
		@include respond("lgmobile") {
			width: 287.5px;
			height: 214.5px;
		}
	}
	&.lang {
		width: 271px;
		height: 251px;
		@include respond("lgmobile") {
			width: 213px;
			height: 215px;
		}
	}
	.logo {
		width: 77px;
		height: 77px;
		position: absolute;
		&:hover {
			cursor: pointer;
		}
		@include respond("lgmobile") {
			width: 64.5px;
			height: 64.5px;
		}
	}
	.rails {
		left: 97px;
		top: 0px;
		@include respond("lgmobile") {
			left: 74px;
			top: 0;
		}
	}
	.react {
		left: 194px;
		top: 0px;
		@include respond("lgmobile") {
			left: 153px;
			top: 0px;
		}
	}
	.node {
		left: 49px;
		top: 87px;
		@include respond("lgmobile") {
			left: 37px;
			top: 75px;
		}
	}
	.express {
		left: 146px;
		top: 87px;
		@include respond("lgmobile") {
			left: 111px;
			top: 75px;
		}
	}
	.jquery {
		left: 243px;
		top: 87px;
		@include respond("lgmobile") {
			left: 185px;
			top: 75px;
		}
	}
	.axios {
		left: 0px;
		top: 174px;
		@include respond("lgmobile") {
			left: 0px;
			top: 150px;
		}
	}
	.psql {
		left: 97px;
		top: 174px;
		@include respond("lgmobile") {
			left: 74.5px;
			top: 150px;
		}
	}
	.bootstrap {
		left: 194px;
		top: 174px;
		@include respond("lgmobile") {
			left: 149px;
			top: 150px;
		}
	}
	.gsap {
		left: 291px;
		top: 174px;
		@include respond("lgmobile") {
			left: 223px;
			top: 150px;
		}
	}
	.python {
		left: 97px;
		top: 0px;
		@include respond("lgmobile") {
			left: 75px;
			top: 0px;
		}
	}
	.js {
		left: 48px;
		top: 87px;
		@include respond("lgmobile") {
			left: 37px;
			top: 75px;
		}
	}
	.java {
		left: 145px;
		top: 87px;
		@include respond("lgmobile") {
			left: 112px;
			top: 75px;
		}
	}
	.css {
		left: 0px;
		top: 174px;
		@include respond("lgmobile") {
			left: 0px;
			top: 150px;
		}
	}
	.html {
		left: 97px;
		top: 174px;
		@include respond("lgmobile") {
			left: 74.5px;
			top: 150px;
		}
	}
	.ruby {
		left: 194px;
		top: 174px;
		@include respond("lgmobile") {
			left: 149px;
			top: 150px;
		}
	}
}
