@import "../../stylesheets/shared.scss";

.Pcard {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	min-height: 376px;

	background: #424242;
	border-radius: 20px;
	margin: 15px;
	width: 448px;
	@include respond("xlmobile") {
		width: 420px;
		@include respond("mobile") {
			width: 400px;
			@include respond("lgmobile") {
				width: 350px;
				@include respond("mdmobile") {
					width: 344px;
					@include respond("xsmobile") {
						width: 291px;
					}
				}
			}
		}
	}
	.Ppicture {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;

		position: static;
		width: 100%;
		height: 400px;
		left: 0px;
		top: 0px;

		border-radius: 20px 20px 0px 0px;

		flex: none;
		order: 0;
		flex-grow: 0;
		margin: 0px 0px;
		.Plinks {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 0px;

			position: static;
			width: 56px;
			height: auto;
			left: 0px;
			top: 0px;

			flex: none;
			order: 0;
			flex-grow: 0;
			margin: 0px 0px;
			border-radius: 20px 0px 10px 0px;
			overflow: hidden;
			.Plink {
				background-color: black;
				width: 56px;
				height: 56px;
				text-align: center;
				a {
					color: white;
					font-size: 32px;
				}
			}
		}
	}
	.Pcontent {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 14px;

		position: static;
		width: 100%;
		min-height: 140px;
		height: fit-content;
		left: 0px;
		top: 236px;

		flex: none;
		order: 1;
		align-self: stretch;
		flex-grow: 0;
		margin: 0px 0px;
		.Pdescription {
			position: static;
			width: 100%;
			height: auto;
			min-height: 70px;
			left: 14px;
			top: 94px;

			font-family: "Cambay", sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 100%;

			letter-spacing: -0.035em;

			color: #FFFFFF;

			flex: none;
			order: 1;
			align-self: stretch;
			flex-grow: 0;
			margin: 10px 0px;
		}
		.Ptitle{
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 6px;

			position: static;
			width: 100%;
			height: auto;
			left: 14px;
			top: 14px;

			flex: none;
			order: 0;
			align-self: stretch;
			flex-grow: 0;
			margin-top: 10px;
			.Ptitles {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 0px;
				
				position: static;
				width: 100%;
				height: auto;
				left: 6px;
				top: 6px;
				
				flex: none;
				order: 0;
				flex-grow: 1;
				margin: 0px 5px;
				.Ptitletitle{
					position: static;
					width: 100%;
					height: auto;
					left: 0px;
					top: 21px;

					font-family: "Cambay", sans-serif;
					font-style: normal;
					font-weight: 500;
					font-size: 37px;
					line-height: 100%;

					letter-spacing: -0.035em;

					color: #FFFFFF;

					flex: none;
					order: 1;
					align-self: stretch;
					flex-grow: 0;
					margin: 5px 0px;
				}
				.Psubtitle {
					position: static;
					width: 100%;
					height: auto;
					left: 0px;
					top: 0px;

					font-family: "Cambay", sans-serif;
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 100%;

					letter-spacing: -0.035em;

					color: #8E8E8E;

					flex: none;
					order: 0;
					align-self: stretch;
					flex-grow: 0;
					margin: 5px 0px;
				}
			}
		}
	}
}